@import "@esri/calcite-components/dist/calcite/calcite.css";
@import "https://js.arcgis.com/4.27/@arcgis/core/assets/esri/themes/light/main.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "./esri-overides.css";

html,
body,
#root {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cursor-pointer {
    cursor: pointer;
}

.searchWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: unset;
    padding-top: 15px;
    padding-bottom: 0px;
}

@media (max-width: 640px) {
    .searchWrapper {
        bottom: 0;
        top: unset;
        padding-top: 0px;
        padding-bottom: 50px;
    }
    .searchWrapper .esri-menu {
        top: auto;
        bottom: 100%;
    }
}

.mapoverlay.esri-component {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
