@import './esri-overides.css';
@import './css-reset.css';


:root {
  --font-roboto: 'Roboto Variable', sans-serif;
  --map-button-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  --river-blue: #0954a5;

  --blackA1: hsla(0, 0%, 0%, 0.012);
  --blackA2: hsla(0, 0%, 0%, 0.027);
  --blackA3: hsla(0, 0%, 0%, 0.047);
  --blackA4: hsla(0, 0%, 0%, 0.071);
  --blackA5: hsla(0, 0%, 0%, 0.09);
  --blackA6: hsla(0, 0%, 0%, 0.114);
  --blackA7: hsla(0, 0%, 0%, 0.141);
  --blackA8: hsla(0, 0%, 0%, 0.22);
  --blackA9: hsla(0, 0%, 0%, 0.439);
  --blackA10: hsla(0, 0%, 0%, 0.478);
  --blackA11: hsla(0, 0%, 0%, 0.565);
  --blackA12: hsla(0, 0%, 0%, 0.91);

  --font-1: rgb(28, 32, 36);
  --dark-river-blue: #0a4481;
  --light-river-blue: #52a9ff;
  --faded-river-blue: #eaf6ff;
  --border-grey: #e6e6e6;
  --danger: #ffcccc;
  --warning: #fff1ad;
  --good: #bff3c3;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100% !important;
  width: 100%;
}

body {
  font-family: var(--font-roboto);
  --calcite-sans-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  --calcite-corner-radius: 8px !important;
}

.cursor-pointer {
  cursor: pointer;
}
